This is to record addenda for Releng_And_Release_Guide.pdf.

= Chapter 5. Requirements =

== 5.3. Updating ==

1. 

Eclipse.org dependencies (and other 3rd party content we are permitted by license to mirror / redistribute) are here:

	http://download.jboss.org/jbosstools/updates/requirements/
	
Each folder contains a build*.xml (or pom*.xml) script which shows:
	Where to pull content
	What version to pull
	What features to pull
	Where to put the pulled content
	
This script can be run locally but it's more efficient to run it on dev01.mw.lab.eng.bos.redhat.com (as hudson user).

Then, you can rsync files to tools@filemgmt.jboss.org:/downloads_htdocs/tools/updates/requirements/.

2.

Next, connect the site you just created, eg., http://download.jboss.org/jbosstools/updates/requirements/eclipse/3.7.2/ 
to the latest version of the composite requirements site by editing these files: 

	http://svn.jboss.org/repos/jbosstools/trunk/download.jboss.org/jbosstools/updates/indigo/<latest folder>/composite*.xml
	http://svn.jboss.org/repos/jbosstools/trunk/download.jboss.org/jbosstools/updates/indigo/composite*.xml
	
If the site you created is not for the CORE functionality of JBoss Tools (eg., it's for the JBDS Extras site or JBoss Central), then edit these files instead:

	http://svn.jboss.org/repos/jbosstools/trunk/download.jboss.org/jbosstools/updates/indigo/extras/<latest folder>/composite*.xml
	http://svn.jboss.org/repos/jbosstools/trunk/download.jboss.org/jbosstools/updates/indigo/extras/composite*.xml

3.
	
Next, you can update the target platforms here:

	http://svn.jboss.org/repos/jbosstools/trunk/build/target-platform/
	
To update, run this:

	svn co http://svn.jboss.org/repos/jbosstools/trunk/build/
	cd build/target-platform
	mvn clean install -q -f ../parent/pom.xml; mvn clean install -Pget.local.target; mvn clean install -q -f ../parent/pom.xml'
	mvn clean install -q -f ../parent/pom.xml; ant jbds; mvn clean install -q -f ../parent/pom.xml'

You may want to update the version of the resulting TP zips by editing these 8 files:

	unified.target*
	multiple.target*
	jbds.target*
	targetUpdateFromRepo.xml
	publish.sh

When you're satified w/ the changes to the JBT and JBDS target platforms, commit them to SVN. 

Then, you can run the target platform jobs to respin those.

	https://jenkins.mw.lab.eng.bos.redhat.com/hudson/job/jbosstools-3.3_trunk.target-platform/build
	https://jenkins.mw.lab.eng.bos.redhat.com/hudson/job/devstudio-5.0_trunk.target-platform/build

4.

If you updated the name &/or path of the JBDS target platform zip, be sure to also update this file:

	http://svn.jboss.org/repos/devstudio/trunk/releng/org.jboss.ide.eclipse.releng/requirements/jbds-target-platform/build.properties
	
